/* BASICS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.4;
  text-align: center;
}

.button {
  text-decoration: none;
  text-align: center;
  width: 100%;
  color: white;
  cursor: pointer;
  background-color: darkslategrey;
  padding: 10px;
  border-radius: 5px;
}
.button:hover {
  background-color: grey;
}

/* NAVIGATION BAR */

nav {
  display: flex;
  position: fixed;
  width: 100%;
  min-height: 10vh;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  color: rgba(0, 0, 0, 0.9);
  font-family: "Roboto Condensed", sans-serif;
  text-align: left;
  border-bottom: dotted;
  border-color: rgba(0, 0, 0, 0.9);
  border-width: 1px;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  width: 30%;
}
.logo a {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
}
.logo p {
  font-size: 10px;
}

.nav-links {
  list-style: none;
  width: 50%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links a {
  text-align: center;
  width: 100%;
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
  letter-spacing: 5px;
  font-size: 16px;
  padding-top: 2.6vh;
  padding-bottom: 2.6vh;
  padding-left: 1vh;
}

.nav-links a:hover {
  background-color: rgba(180, 180, 180, 0.2);
}

.burger-container {
  display: none;
}

.burger {
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  border-radius: 1px;
  background-color: rgba(50, 50, 50, 0.9);
}

.spacer {
  display: none;
}

.navSpacerAtTheTop {
  width: 100%;
  min-height: 10vh;
  background-color: white;
}

.sideNavSpacer {
  display: none;
}

/* PAGES */

.Footer {
  background-color: rgba(255, 255, 255);
  color: rgb(50, 50, 50);
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 5vh;
  margin-top: 3vh;
  border-top-style: dotted;
  border-width: 1px;
}

.uvodAktuality {
  background-color: white;
  padding-bottom: 40px;
  padding-top: 30px;
}

.pozadiFixed {
  position: fixed;
  z-index: -1;
}

.pozadiPrazdneContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
  text-align: left;
}
.pozadiPrazdne {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 3vh;
  padding: 2vh 5vh 2vh 5vh;
  border-radius: 3vh;
  grid-column: 2/3;
  color: white;
  font-size: 1.3em;
}

.UvodStred {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.UvodStredObrazek {
  grid-column: 2/3;
  margin-bottom: 20px;
}

.UvodStredObrazek img {
  width: 100%;
}
/* AKTUALITY */
.aktualityContainer {
  margin-bottom: 5vw;
}

.aktuality {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-flow: row;
  width: 100%;
  padding: 2vh;
}

.aktualitaZastupce {
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin: 10px;
  /*padding: 10px 10px 0px 10px;*/
}

.aktualitaZastupceNadpis {
  flex-grow: 1;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  color: black;
  padding: 0px 0px 5px 0px;
}

.aktualitaZastupceNadpis:hover {
  color: grey;
}

.aktualitaZastupceText {
  flex-grow: 3;
}

.aktualitaZastupce img {
  float: left;
  width: 50%;
  padding: 5px 10px 0px 0px;
}

.aktualitaZastupce img:hover {
  opacity: 0.5;
}

.aktualitaZastupce .button {
  flex-grow: 0;
  margin-top: 10px;
  width: 100%;
}

.aktualitaZastupce li {
  list-style-position: inside;
}

.aktualita {
  width: 50%;
  border-style: dotted;
  border-width: 2px;
  text-align: justify;
  padding: 30px;
  margin: 5%;
  overflow: auto;
}

.aktualitaNadpis {
  text-transform: uppercase;
  text-align: left;
  padding: 0px 0px 10px 0px;
}

.aktualita img {
  width: 50%;
  float: left;
  padding: 5px 10px 0px 0px;
}

.aktualita img:hover {
  opacity: 0.5;
}

.aktualita .button {
  float: right;
  margin-top: 10px;
}

.aktualita li {
  margin-left: 35px;
  list-style-position: inside;
}

.loading {
  height: 90vh;
  text-align: center;
}

.loading h3 {
  position: absolute;
  top: 50%;
  left: 50%;
}

.zapis {
  background-color: blueviolet;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-flow: row;
  border-style: solid;
}

.zastupce {
  height: 33vw;
  border-style: solid;
}
.fotoContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.foto {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-bottom: 50px;
  margin-top: 5vh;
}
.foto img {
  max-height: 80vh;
  cursor: pointer;
}
.foto img:hover {
  opacity: 0.5;
}

/* CLENOVE TYMU */

.nasTym {
  margin-top: 2vw;
}

.tym {
  padding: 5vw;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5vw 5vw;
}

.clenTymu {
  grid-area: auto;
}

.clenTymu img {
  width: 150px;
  border-radius: 50%;
}

.clenTymuText {
  margin-top: 1vw;
  text-align: justify;
}

.odrazkyUvodContainer {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
  color: rgb(80, 80, 80);
  font-size: 20px;
  line-height: 300%;
  margin-bottom: 2vh;
}
.odrazkySloupecA {
  text-align: left;
  grid-column-start: 2;
  grid-column-end: 3;
  list-style: none;
}
.odrazkySloupecB {
  text-align: left;
  grid-column-start: 3;
  grid-column-end: 4;
  list-style: none;
}

/* TABLET NAV */

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 66%;
  }
  .logo {
    width: 28%;
  }
  .aktualita {
    width: 75%;
  }
  .aktuality {
    grid-template-columns: auto auto;
    grid-auto-flow: row;
  }

  .odrazkyUvodContainer {
    grid-template-columns: auto auto;
    line-height: 250%;
  }

  .UvodStred {
    grid-template-columns: 1fr 3fr 1fr;
  }

  .pozadiPrazdneContainer {
    grid-template-columns: 1fr 8fr 1fr;
  }
  .tym {
    grid-template-columns: auto auto;
  }
}

/* MOBILE NAV */

@media screen and (max-width: 768px) {
  .nav-links {
    position: fixed;
    right: -80%;
    height: 90vh;
    top: 10vh;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    transition: right 250ms ease;
    text-transform: uppercase;
  }
  .nav-links a {
    width: 100%;
    padding-top: 6.5vh;
    padding-bottom: 6.5vh;
    text-align: center;
  }
  .nav-links a:hover {
    background-color: rgba(180, 180, 180, 0.2);
  }

  .burger-container {
    display: block;
    width: 25%;
  }
  .burger {
    display: block;
    float: right;
    margin-right: 5vh;
  }
  .nav-active {
    right: 0%;
  }

  .sideNavSpacerActive {
    display: block;
    position: fixed;
    top: 10vh;
    width: 100%;
    height: 90vh;
    color: blue;
  }

  .spacer {
    display: block;
    width: 25%;
  }
  .logo {
    width: 50%;
    text-align: center;
  }
  .aktualita {
    width: 90%;
  }
  .aktuality {
    grid-template-columns: auto;
    grid-auto-flow: row;
  }
  .odrazkyUvodContainer {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    padding-left: 20vw;
    font-size: 1.1em;
    line-height: 200%;
  }
  .UvodStred {
    grid-template-columns: 1fr 8fr 1fr;
  }
  .pozadiPrazdne {
    font-size: 16px;
  }
  .tym {
    grid-template-columns: auto;
  }
}
